<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header") %>


<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- <h1 class="logo me-auto"><a href="index.html"></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="assets/img/logo_white.png" alt="" class="img-fluid" /></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/courses">Courses</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/about">About</a></li>
          <% if(login && login===true){ %>
            <li class="dropdown"><a class="active" href="/profile" class="profile-btn">
                Profile<i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/profile" style="color: black;">My Courses</a></li>
                <li><a href="/contact" style="color: black;">Help</a></li>
                <li><a href="/logout" style="color: #5fcf80;">Logout</a></li>
              </ul>
            </li>
            <% } else { %>
              <li><a href="/signup">Get Started</a></li>
            <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->


  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs about-mbl-view" data-aos="fade-in" style="background-color: #273036;" >
    <div class="container" style="padding: 20px;">
      <h2 ><%- course.title -%></h2>
      <h3>
      
        <%- publisher -%>
      </h3>
      <div class="rating" id="disappear" style="color: white;">
        Rated : &nbsp;
        <% course.averageRating=Math.round(course.averageRating) %>
          <% for(let rating=0; rating < course.averageRating; rating++){ %>
            <span><i class="bx bxs-star" style="color: white;"></i></span>
      
            <% } %>
              <% for(let j=5 - course.averageRating; j> 0; j--){ %>
                <span><i class="bx bx-star" style="color: white;"></i></span>
                <% } %>
      </div>
      
      <p>
       <%- course.description %> 
      </p>
      <div class="sidebar-render">
        <div class="purchase-render">
          <div class="purchase-render-item">
            <div class='buy-box-main'>
              <div class="buy-box">
                <div class="buy-box-item price">
                  <div class="price-text">
                     <h2 style="color: white; font-size: 50px ;">₹<%- course.cost -%></h2> 
                    <!-- <div style="font-size: 1.6rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                              white-space: nowrap; box-sizing: border-box; color: white;">90% off</div> -->
                  </div>
                  <div class="rating" style="color: white;">
                    Rated : &nbsp;
                    <% course.averageRating = Math.round(course.averageRating) %>
                    <% for(let rating=0; rating < course.averageRating; rating++){ %>
                      <span><i class="bx bxs-star" style="color: white;"></i></span>
                    
                      <% } %>
                        <% for(let j= 5 - course.averageRating; j > 0; j--){ %>
                          <span><i class="bx bx-star" style="color: white;"></i></span>
                          <% } %>
                  </div>
    
                </div>
                <div class="buy-box-item add-to-cart-button" style="max-width: 300px; ">
                  <% if(bought==true && login==true && courseExpired == false){ %>
                     <a href="/profile" > <button style="background: #5fcf80; color: white;">Purchased</button> </a>
                    <% } else if(bought==false && login==false && courseExpired == false){ %>
                       <a href="/login"> <button style="background: #5fcf80; color: white;"> Login to Buy</button>  </a>
                      <% } else if(bought==false && login==true && courseExpired == false) { %>
                        <a href="/checkout/<%-courseid%>"><button style="background: #5fcf80; color: white;">Buy Now</button></a>
                        <br>
                        <form action="/checkout/<%-courseid%>" method="get">
                          <input type="text" name="discount" placeholder="code"
                            style="max-width: 160px; margin-right: 5px; padding: 7px 10px; margin-top: 15px; border: 2px solid #73726c; border-radius: 5px;">
                          <!-- <input type="submit" value="Apply Discount" style="max-width:250px; border: 0px; border-radius: 5px; background-color: rgb(94, 159, 94); color: white; margin-top:15px;"> -->
                          <input type="submit" value="Apply Discount" style="font-size: 14px;
                                                      background: #5fcf8131;
                                                      padding: 7px 14px;
                                                      color: #5fcf80;
                                                      margin-top: 10px;
                                                      border: 1px solid #5fcf80;
                                                      border-radius: 10px;">
                        </form>
                  
                  
                        <% } else if(bought == true && login == true && courseExpired == true) { %>
                          <a href="/checkout/<%-courseid%>"><button style="background: #5fcf80; color: white;">Renew</button></a>
                          <br>
                          <form action="/checkout/<%-courseid%>" method="get">
                            <input type="text" name="discount" placeholder="code"
                              style="max-width: 160px; margin-right: 5px; padding: 7px 10px; margin-top: 15px; border: 2px solid #73726c; border-radius: 5px;">
                            <!-- <input type="submit" value="Apply Discount" style="max-width:250px; border: 0px; border-radius: 5px; background-color: rgb(94, 159, 94); color: white; margin-top:15px;"> -->
                            <input type="submit" value="Apply Discount" style="font-size: 14px;
                                                                                background: #5fcf8131;
                                                                                padding: 7px 14px;
                                                                                color: #5fcf80;
                                                                                margin-top: 10px;
                                                                                border: 1px solid #5fcf80;
                                                                                border-radius: 10px;">
                          </form>
                          <% } else { %>
                              <button> Server Error </button>
                          <% } %>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <div class="wrapper">
    <main id="main">

      
      <!-- ======= Cource Details Section ======= -->
      <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up" style="padding: 1.6rem 2.4rem;">
          <div class="row">
            <div class="background-img" style="margin: 0px !important;">
              <img
                src="<%-course.imageUrl%>"
                class="img-fluid" alt="" />
              <div class="details-below-course">
                <h3>Introduction</h3>
                <p>
                  JavaScript is THE most important programming language you need to learn as a web developer - and with this course, you
                  make sure that you will not miss a single thing you have to know as a JavaScript developer!</p>
                  
                  <p>This is the most comprehensive and modern course you can find on JavaScript - it's based on all my JavaScript knowledge
                  AND teaching experience. It's both a complete guide, starting with the core basics of the language, as well as an
                  extensive reference of the JavaScript language and environment, ensuring that both newcomers as well as experienced
                  JavaScript developers get a lot out of this course!</p>
                  
                  <p>It's a huge course because it's packed with important knowledge and helpful content. From the core basics, over advanced
                  concepts and JavaScript specialties, all the way up to expert topics like performance optimization and testing - this
                  course has it all. My goal was to create your go-to resource for the JavaScript language, which you can not just use for
                  learning it but also as a resource you can come back to and look up important topics.</p>
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Cource Details Section -->

      <!-- description -->

      <section id="information" class="information">
        <div class="container" data-aos="fade-up">
          <div class="row instructors" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
      
            <div class="section-title">
              <h2>About the course</h2>
              <p>Description</p>
            </div>
            <div class="information">
              <%- course.content %>
            </div>
          </div>
        </div>
      </section>
      <!-- end description section -->

      <!-- Course Playlist -->
      <section id="displayPlaylist" class="displayPlaylist">
        <div class="container" data-aos="fade-up">
          <div class="row instructors" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <div class="section-title">
              <h2>Lessons</h2>
              <p>Course Content</p>
            </div>
           
              <div class="playlist-content">
      
                <div style="max-height: 70vh; height: auto; box-shadow: none; border-bottom: none; background-color: #eef0ef;"
                  class="sidebar-container-content">
                  <div class="sidebar-container-content-group" style="border-bottom: 0px;">
      
                    <div style=" padding: 30px;" class='cta'>
                      <h4 style="padding-left: 20px;">
                        <%- playlist.length -%> &nbsp; Lesson(s)
                      </h4>
                      <ul style="padding-inline-start:25px;">
                        <% for(let i=0; i < playlist.length; i++){ %>
                          <li>
                            <%- i+1 %> . &nbsp;
                              <%- playlist[i].name -%>
                          </li>
                          <% } %>
                      </ul>
                    </div>
                  </div>
      
                </div>
              </div>
           
          </div>
        </div>
      </section>
      
      <!-- course playlist end -->


    <!--  ======= Cource Details Tabs Section ======= 
      <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <h3 style="padding-left: 30px;">Course Details</h3>
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="tab" href="#tab-1">Track 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-2">Track 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-3">Track 3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-4">Track 4</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-5">Track 5</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 1</h3>
                      <p class="fst-italic">
                        Qui laudantium consequatur laborum sit qui ad sapiente
                        dila parde sonata raqer a videna mareta paulona marka
                      </p>
                      <p>
                        Et nobis maiores eius. Voluptatibus ut enim blanditiis
                        atque harum sint. Laborum eos ipsum ipsa odit magni.
                        Incidunt hic ut molestiae aut qui. Est repellat minima
                        eveniet eius et quis magni nihil. Consequatur dolorem
                        quaerat quos qui similique accusamus nostrum rem vero
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 2</h3>
                      <p class="fst-italic">
                        Qui laudantium consequatur laborum sit qui ad sapiente
                        dila parde sonata raqer a videna mareta paulona marka
                      </p>
                      <p>
                        Ea ipsum voluptatem consequatur quis est. Illum error
                        ullam omnis quia et reiciendis sunt sunt est. Non
                        aliquid repellendus itaque accusamus eius et velit ipsa
                        voluptates. Optio nesciunt eaque beatae accusamus lerode
                        pakto madirna desera vafle de nideran pal
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 3</h3>
                      <p class="fst-italic">
                        Eos voluptatibus quo. Odio similique illum id quidem non
                        enim fuga. Qui natus non sunt dicta dolor et. In
                        asperiores velit quaerat perferendis aut
                      </p>
                      <p>
                        Iure officiis odit rerum. Harum sequi eum illum corrupti
                        culpa veritatis quisquam. Neque necessitatibus illo
                        rerum eum ut. Commodi ipsam minima molestiae sed
                        laboriosam a iste odio. Earum odit nesciunt fugiat sit
                        ullam. Soluta et harum voluptatem optio quae
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 4</h3>
                      <p class="fst-italic">
                        Totam aperiam accusamus. Repellat consequuntur iure
                        voluptas iure porro quis delectus
                      </p>
                      <p>
                        Eaque consequuntur consequuntur libero expedita in
                        voluptas. Nostrum ipsam necessitatibus aliquam fugiat
                        debitis quis velit. Eum ex maxime error in consequatur
                        corporis atque. Eligendi asperiores sed qui veritatis
                        aperiam quia a laborum inventore
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 5</h3>
                      <p class="fst-italic">
                        Omnis blanditiis saepe eos autem qui sunt debitis porro
                        quia.
                      </p>
                      <p>
                        Exercitationem nostrum omnis. Ut reiciendis repudiandae
                        minus. Omnis recusandae ut non quam ut quod eius qui.
                        Ipsum quia odit vero atque qui quibusdam amet. Occaecati
                        sed est sint aut vitae molestiae voluptate vel
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
      </section> -->
      <!-- End Cource Details Tabs Section -->

      <!-- ======= Who Should Take This Course Section ======= -->
      <section id="customers" class="customers">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="section-title" style="padding: 1.6rem 2.4rem;">
              <h2>Who should take this course?</h2>
              <p>Features</p>
            </div>
            <div class="member">
              <div class="customer-info align-items-center" style="background-color: #eef0ef; color: black;">
                <i class="bx bx-check-double bx-lg"></i>
                STUDENTS
                <p>
                  JavaScript is THE most important programming language you need to learn as a web developer - and with this course, you
                  make sure that you will not miss a single thing you have to know as a JavaScript developer!
                </p>
              </div>
              <div class="customer-info align-items-center" style="background-color: #eef0ef; color: black;">
                <i class="bx bx-check-double bx-lg"></i>
                Professionals
                <p>
                  It's a huge course because it's packed with important knowledge and helpful content. From the core basics, over advanced
                  concepts and JavaScript specialties, all the way up to expert topics like performance optimization and testing - this
                  course has it all. My goal was to create your go-to resource for the JavaScript language, which you can not just use for
                  learning it but also as a resource you can come back to and look up important topics.
                </p>
              </div>
              <div class="customer-info align-items-center" style="background-color: #eef0ef; color: black;">
                <i class="bx bx-check-double bx-lg"></i>
                Freelancers
                <p>
                  JavaScript is THE most important programming language you need to learn as a web developer - and with this course, you
                  make sure that you will not miss a single thing you have to know as a JavaScript developer!
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End of Who Should Take This Course Section ======= -->

      

      <!-- Published  by -->
      <section id="publishedBy" class="publishedBy">
        <div class="container" data-aos="fade-up">
          <div class="row instructors" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <div class="section-title">
              <h2>Published by</h2>
              <p>Meet your teacher</p>
            </div>
              <div class="customer-info align-items-center" style="background-color: #5fcf80; color: black; padding: 10px 15px;
 border-radius: 5px; max-width: 350px;" >
                
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="" style="max-width: 80px;max-height: 80px; border-radius: 5px;">
                  <span style="color: white;"> &nbsp; <%- publisher %> </span>
                </div>
              </div>

            
            </div>
            </div>

      </section>
      <!-- published by end -->


      <!-- ======= Trainers Section ======= -->
      <!-- <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
          <div class="row instructors" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <h3>Instructors</h3>
            <div class="col-lg-6 col-md-10 d-flex align-items-stretch">
              <div class="member instructors-member">
                <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="" />
                <div class="member-content">
                  <h4>Walter White</h4>
                  <span>Web Development</span>
                  <p style="background-color: #b4b4b4; color: black;">
                    Magni qui quod omnis unde et eos fuga et exercitationem.
                    Odio veritatis perspiciatis quaerat qui aut aut aut
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Trainers Section -->
      <!-- ======= Perks Section ======= -->
      <section id="perks" class="perks">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="section-title" style="padding: 1.6rem 2.4rem;">
            
              <p>Important Details</p>
            </div>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: #5fcf80;
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Shareable Certificate</h4>
                <p> 
                 Certificate can be generated, shared and verified by th user as well as other people using the verify certificate option

                </p>
              </div>
            </div>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: #5fcf80;
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Valid for 6 months</h4>
                <p>
                  <% if(login == true){ %> 
                  Your course is valid till <%-expiresOn%>
                  <% } else{ %>
                  The course is valid for 6 months from the date of purchase, this is to ensure learning at proper pace and you can renew your course once it expires
                  <% } %>
                </p>
              </div>
            </div>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: #5fcf80;
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Add a review</h4>
                <p>
                  Let others know about your views on the course and share insights and gather data and make purchases accordingly
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Perks Section -->



      <!-- Rating & Reviews Section -->
      <section id="reviews" class="reviews">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <div class="section-title">
              <h2>Reviews</h2>
              <p>Latest Reviews</p>
            </div>
            <ul class="list-group">
              <% for(let i=0; i < reviews.length; i++){ %>
                <li class="list-group-item" style="margin: 10px; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 5px;">
                  <strong>By: &nbsp;<%- reviewUsers[i].username %></strong>
                  &nbsp; | &nbsp;
                  <% for(let rating=0; rating < reviews[i].rating; rating++){ %>
                    <span><i class="bx bxs-star"></i></span>
      
                    <% } %>
                      <% for(let j=5 - reviews[i].rating; j> 0; j--){ %>
                        <span><i class="bx bx-star"></i></span>
                        <% } %>
                          <p>
                            <%- reviews[i].createdAt %>
                          </p>
                          <p>
                            <%- reviews[i].text %>
                          </p>
                </li>
                <% } %>
            </ul>
      
          <!--  <div class="container" data-aos="fade-up">
              <div class="row" data-aos="zoom-in" data-aos-delay="100" style="padding: 3rem 0.7rem;">
                <div class="section-title">
                  <h2>Feedback</h2>
                  <p>Your Review</p>
                </div>
                <form id="feedback" action="">
      
                  <div class="pinfo">Rate the course.</div>
      
      
                  <div class="form-group">
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                        <select class="form-control" id="rate">
                          <option value="1star">1</option>
                          <option value="2stars">2</option>
                          <option value="3stars">3</option>
                          <option value="4stars">4</option>
                          <option value="5stars">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
      
                  <div class="pinfo">Write your feedback.</div>
      
      
      
                  <div class="form-group">
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        <textarea class="form-control" id="review" rows="3"></textarea>
      
                      </div>
                    </div>
                  </div>
      
                  <button type="submit" class="btn btn-primary">Submit</button>
      
      
                </form>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- End Rating & Reviews Section -->
    </main>
    <!-- End #main -->

    <!-- Sidebar-Container Section -->
    <section id="sidebar-container" class="sidebar-container">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="sidebar-container-content card" style="max-height: 87vh;">
            <div class="sidebar-container-content-group" style="border-bottom: 0px; ">
              <div class="sidebar-container-purchase-section">
                <div class="generic-purchase-section">
                  <div class="buy-box-main">
                    <div class="buy-box">
                      <div class="buy-box-item price">
                        <div class="price-text">
                          <h1><b>₹<%- course.cost -%></b></h1>
                          <div
                            style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                              white-space: nowrap; box-sizing: border-box; color: #73726c;text-decoration: line-through;">
                            ₹4900</div>
                          <div style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                              white-space: nowrap; box-sizing: border-box; color: #73726c;">90% off
                          </div>
                        </div>
                      </div>
                      <div class="buy-box-item add-to-cart-button">
                        
                          <% if(bought == true && login== true && courseExpired == false){ %>
                          <a href="/profile" style="color: white;"><button style="background: #5fcf80; color: white;"> Purchased </button> </a> 
                          <% } else if(bought == false && login == false && courseExpired == false){ %>
                           <a href="/login" style="color: white;"> <button style="background: #5fcf80; color: white;">Login to Buy </button> </a> 
                          <% } else if(bought == false && login == true && courseExpired == false) { %>
                            <a href="/checkout/<%-courseid%>"><button style="background: #5fcf80; color: white;">Buy Now</button></a>
                            <br>
                            <form action="/checkout/<%-courseid%>" method="get">
                              <input type="text" name="discount" placeholder="code" style="max-width: 160px; margin-right: 5px; padding: 7px 10px; margin-top: 15px; border: 2px solid #73726c; border-radius: 5px;">
                              <!-- <input type="submit" value="Apply Discount" style="max-width:250px; border: 0px; border-radius: 5px; background-color: rgb(94, 159, 94); color: white; margin-top:15px;"> -->
                              <input type="submit" value="Apply Discount" style="font-size: 14px;
                              background: #5fcf8131;
                              padding: 7px 14px;
                              color: #5fcf80;
                              margin-top: 10px;
                              border: 1px solid #5fcf80;
                              border-radius: 10px;">
                            </form>
                          
                              
                           
                          <% } else if(bought == true && login == true && courseExpired == true) { %>
                            <a href="/checkout/<%-courseid%>"><button style="background: #5fcf80; color: white;">Renew </button></a>
                            <br>
                            <form action="/checkout/<%-courseid%>" method="get">
                              <input type="text" name="discount" placeholder="code"
                                style="max-width: 160px; margin-right: 5px; padding: 7px 10px; margin-top: 15px; border: 2px solid #73726c; border-radius: 5px;">
                              <!-- <input type="submit" value="Apply Discount" style="max-width:250px; border: 0px; border-radius: 5px; background-color: rgb(94, 159, 94); color: white; margin-top:15px;"> -->
                              <input type="submit" value="Apply Discount" style="font-size: 14px;
                                                                                  background: #5fcf8131;
                                                                                  padding: 7px 14px;
                                                                                  color: #5fcf80;
                                                                                  margin-top: 10px;
                                                                                  border: 1px solid #5fcf80;
                                                                                  border-radius: 10px;">
                            </form>
                          <% } else{ %>
                              <button> Server Error </button>
                            <% } %>
                      </div>
                    </div>
                  </div>
                  <div class='cta'>
                    <h4>This Course Includes:</h4>
                    <ul style="padding-inline-start: 20px;">
                      <li><i class="bx bx-slideshow" style="position: relative; top: 5px;"></i> &nbsp;48 hours on-demand video</li>
                      <li><i class="bx bx-store-alt" style="position: relative; top: 5px;"></i>&nbsp;&nbsp;18 articles</li>
                      <li><i class="bx bx-bug-alt" style="position: relative; top: 5px;"></i>&nbsp;&nbsp;10 downloadable resources</li>
                      <li><i class="bx bx-landscape" style="position: relative; top: 5px;"></i>&nbsp;&nbsp;Full lifetime access</li>
                      <li><i class="bx bx-network-chart" style="position: relative; top: 5px;"></i>&nbsp;&nbsp;Access on mobile and TV</li>
                      <li><i class="bx bx-world" style="position: relative; top: 5px;"></i>&nbsp;&nbsp;Certificate of completion</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!-- End Sidebar-Container Section -->
  </div>
  <!-- End Wrapper Section -->

  <!-- ======= Footer ======= -->
  <%- include("./partials/footer") %>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>